
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    font-size: 18px;
}

.content {
    margin-top: 25px;
    margin-left: 25px;

}
.control-label{
    font-size: 20px;
    font-weight: 600;
}